.logo{
    font-size: 30px;
}
.pages{
    text-align: center;
}
.map1 h{
    font-size: 30px;
}
.map1 li{
    font-size: 22px;
}
.map2{
    font-size: 30px;
}
.map2 ul li{
     font-size: 22px;
}
.pages a{
    font-size: 20px;
}